@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "CookieRun Regular";
  src: url("/fonts/CookieRun Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
